[tool.mypy]
python_version = "3.13"
strict = true
warn_return_any = true
warn_unused_configs = true

[[tool.mypy.overrides]]
module = "custom_components.dahua.*"
disallow_untyped_defs = true
disallow_incomplete_defs = true
