name: Pull actions

on:
  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
        - uses: "actions/checkout@v6"

        - name: HACS validation
          uses: "hacs/action@main"
          with:
            category: "integration"

        - name: Hassfest validation
          uses: "home-assistant/actions/hassfest@master"

  lint:
    runs-on: "ubuntu-latest"
    name: Ruff lint and format
    steps:
        - uses: "actions/checkout@v6"
        - uses: "astral-sh/ruff-action@v3"
        - uses: "astral-sh/ruff-action@v3"
          with:
            args: "format --check"

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v6"
      - name: "Set up Python"
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.13"
          cache: "pip"
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libturbojpeg0-dev
      - name: Install requirements
        run: python3 -m pip install -r requirements_test.txt
      - name: Run tests
        run: |
          pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            --cov custom_components.dahua \
            --cov-config=.coveragerc \
            -o console_output_style=count \
            -p no:sugar \
            tests
